---
import { getStaticPaths, getI18nProps } from '@i18n/helperi18n';
import { MenuComponentReact } from './MenuComponentReact';

export { getStaticPaths };

interface Props {
  title?: string; 
}

const { lang, t, title } = getI18nProps(Astro.params, 'map');

---


<section id="menu">
    <h2>{t("menu.title")}</h2>
    <p class="text-center">{t("menu.description")}</p>

    <div class="my-10 max-w-4xl mx-auto px-4">
        <div class="relative p-10 overflow-hidden shadow-lg t-10">
            <MenuComponentReact client:only="react" />
        </div>
    </div>
</section>
