---
import { getStaticPaths, getI18nProps } from '@i18n/helperi18n';
export { getStaticPaths };


interface Props {
  title?: string; 
}


const { lang, t, title } = getI18nProps(Astro.params, 'about');

---

<!-- About Section -->
<section id="about">
  <div class="container mx-auto px-6">
    <h2>{t("about.title")}</h2>
    <p class="text-center mb-15">{t("about.description")}</p>
    
    <!-- Fila 1 -->
    <div class="about-row flex flex-wrap items-center justify-center md:justify-between">
      
      <div
        class="about-text w-full md:w-1/2"
        data-aos="fade-right"
        data-aos-duration="1200"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        
        <h2 class="text-3xl font-semibold text-primary text-center" data-i18n="about_title1">
          {t('about.title1')}
        </h2>
        <p class="mt-4 text-lg text-neutral-light text-center" data-i18n="about_txt1">
          {t('about.txt1')}
        </p>
      </div>
      <div
        class="about-img w-full md:w-1/2 mt-8 md:mt-0"
        data-aos="fade-left"
        data-aos-duration="1200"
        data-aos-delay="200"
        data-aos-easing="ease-in-out"
      >
        <img src="/images/plato1.webp" alt="Plato mediterráneo" class="w-full h-auto rounded-lg" />
      </div>
    </div>

    <!-- Fila 2 (zigzag) -->
    <div class="about-row flex flex-wrap items-center justify-between mb-16">
      <div
        class="about-text w-full md:w-1/2"
        data-aos="fade-left"
        data-aos-duration="1200"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
          <img src="/images/restaurante.webp" alt="Interior del restaurante" class="w-full h-auto rounded-lg" />
      </div>
      <div
        class="about-img w-full md:w-1/2 mt-8 md:mt-0"
        data-aos="fade-right"
        data-aos-duration="1200"
        data-aos-delay="200"
        data-aos-easing="ease-in-out"
      >
      <h2 class="text-3xl font-semibold text-primary text-center" data-i18n="about_title2">
          {t('about.title2')}
        </h2>
        <p class="mt-4 text-lg text-neutral-light text-center" data-i18n="about_txt2">
          {t('about.txt2')}
        </p>
        
      </div>
    </div>
  </div>
</section>