---
import { getStaticPaths, getI18nProps } from '@i18n/helperi18n';
export { getStaticPaths };

interface Props {
  title?: string; 
}

const { lang, t, title } = getI18nProps(Astro.params, 'about');
---

<!-- About Section -->
<section id="about" class="bg-background py-20 mt-30">
  <div class="container mx-auto px-6 text-center">
    <h2>{t("about.title")}</h2>
    <p class="text-center mb-10">{t("about.description")}</p>

    <!-- Grid de Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Card 1 -->
      <div 
        class="bg-white rounded-lg shadow-lg overflow-hidden transition transform hover:scale-105"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="800"
      >
        <img src="/images/splytin-center.webp" alt={t("about.title1")} class="w-full h-48 object-cover" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-primary mb-2" data-i18n="about_title1">{t("about.title1")}</h3>
          <p class="text-gray-600 text-sm" data-i18n="about_txt1">{t("about.txt1")}</p>
        </div>
      </div>

      <!-- Card 2 -->
      <div 
        class="bg-white rounded-lg shadow-lg overflow-hidden transition transform hover:scale-105"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="800"
      >
        <img src="/images/splytin-clients.webp" alt={t("about.title2")} class="w-full h-48 object-cover" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-primary mb-2" data-i18n="about_title2">{t("about.title2")}</h3>
          <p class="text-gray-600 text-sm" data-i18n="about_txt2">{t("about.txt2")}</p>
        </div>
      </div>

      <!-- Card 3 -->
      <div 
        class="bg-white rounded-lg shadow-lg overflow-hidden transition transform hover:scale-105"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="800"
      >
        <img src="/images/splytin-analytics.webp" alt={t("about.title3")} class="w-full h-48 object-cover" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-primary mb-2" data-i18n="about_title3">{t("about.title3")}</h3>
          <p class="text-gray-600 text-sm" data-i18n="about_txt3">{t("about.txt3")}</p>
        </div>
      </div>

      <!-- Card 4 -->
      <div 
        class="bg-white rounded-lg shadow-lg overflow-hidden transition transform hover:scale-105"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="800"
      >
        <img src="/images/splytin-scalable.webp" alt={t("about.title4")} class="w-full h-48 object-cover" />
        <div class="p-6">
          <h3 class="text-xl font-semibold text-primary mb-2" data-i18n="about_title4">{t("about.title4")}</h3>
          <p class="text-gray-600 text-sm" data-i18n="about_txt4">{t("about.txt4")}</p>
        </div>
      </div>
    </div>
  </div>
</section>
