---
import "@styles/global.css";
---
<html lang="es">
  <head>
    <title>Splytin | Redireccionando...</title>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
  </head>
  <body class="bg-[#fcf4e7] flex flex-col justify-center items-center min-h-screen font-sans text-gray-800 text-center px-4">

    <!-- Preloader Spinner -->
    <div class="w-20 h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 border-8 border-[#f2e1c1] border-t-[#c98b52] rounded-full animate-spin mb-8"></div>

    <!-- Mensaje -->
    <p class="text-2xl sm:text-3xl md:text-4xl font-semibold">Redirigiendo a Splytin...</p>

    <!-- Script de Redirección -->
    <script is:inline>
      setTimeout(() => window.location.href = "/es/", 1000);
    </script>
  </body>
</html>
