---
import { SITE_NAME } from 'astro:env/client';
import { getStaticPaths, getI18nProps } from '@i18n/helperi18n';
import type { SupportedLang } from '@i18n/utils';

export { getStaticPaths };

interface Props {
  lang?: SupportedLang;
}

const { t } = getI18nProps(Astro.params, 'footer');
const year = new Date().getFullYear();
const company = SITE_NAME;
//console.log(Object.keys(import.meta.env

---


<!-- Section - Footer  -->
<footer class="bg-footer-background mt-20">
  <div class="mx-auto max-w-7xl px-6 pt-20 pb-8 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-white text-left">{t('footer.solutions')}</h3>
            <ul class="mt-6 space-y-4">
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.solutions_list.marketing')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.solutions_list.analytics')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.solutions_list.automation')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.solutions_list.commerce')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.solutions_list.insights')}</a></li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-white text-left">{t('footer.support')}</h3>
            <ul class="mt-6 space-y-4">
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.support_list.submit_ticket')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.support_list.documentation')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.support_list.guides')}</a></li>
            </ul>
          </div>
        </div>

        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm/6 font-semibold text-white text-left">{t('footer.company')}</h3>
            <ul class="mt-6 space-y-4">
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.company_list.about')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.company_list.blog')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.company_list.jobs')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.company_list.press')}</a></li>
            </ul>
          </div>

          <div class="mt-10 md:mt-0">
            <h3 class="text-sm/6 font-semibold text-white text-left">{t('footer.legal')}</h3>
            <ul class="mt-6 space-y-4">
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.legal_list.terms_of_service')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.legal_list.privacy_policy')}</a></li>
              <li><a href="#" class="text-sm/6 text-footer-text hover:text-footer-hover">{t('footer.legal_list.license')}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mt-10 xl:mt-0">
        <h3 class="text-sm/6 font-semibold text-white">{t('footer.newsletter.title')}</h3>
        <p class="mt-2 text-sm/6 text-footer-text">{t('footer.newsletter.description')}</p>
        <form class="mt-6 sm:flex sm:max-w-md">
          <label for="email-address" class="sr-only">{t('footer.newsletter.placeholder')}</label>
          <input
            type="email"
            id="email-address"
            name="email-address"
            autocomplete="email"
            required
            class="w-full rounded-md bg-footer-input-bg px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-footer-input-outline placeholder:text-footer-text focus:outline-2 focus:outline-footer-input-focus sm:w-64 sm:text-sm/6 xl:w-full"
            placeholder={t('footer.newsletter.placeholder')}
          />
          <div class="mt-4 sm:mt-0 sm:ml-4 sm:shrink-0">
            <button type="submit" class="btn btn-primary">
              {t('footer.newsletter.button')}
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="mt-16 border-t border-footer-border pt-8 sm:mt-20 md:flex md:items-center md:justify-between lg:mt-24">
      <div class="flex gap-x-6 md:order-2">
        <a href="#" class="text-footer-text hover:text-footer-hover"><span class="sr-only">Facebook</span></a>
        <a href="#" class="text-footer-text hover:text-footer-hover"><span class="sr-only">Instagram</span></a>
        <a href="#" class="text-footer-text hover:text-footer-hover"><span class="sr-only">X</span></a>
        <a href="#" class="text-footer-text hover:text-footer-hover"><span class="sr-only">GitHub</span></a>
        <a href="#" class="text-footer-text hover:text-footer-hover"><span class="sr-only">YouTube</span></a>
      </div>
      <p class="mt-8 text-sm/6 text-footer-text md:order-1 md:mt-0">
        &copy; {year} {company}. {t('footer.copyright')}
    </p>
    </div>
  </div>
</footer>

