@import './base.css';


/*
 |--------------------------------------------------------------------------
 | Font Style
 |--------------------------------------------------------------------------
 |
 */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');





/*
 |--------------------------------------------------------------------------
 | Tailwind Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 */ 
@tailwind base;
@tailwind components;
@tailwind utilities;



/*
 |--------------------------------------------------------------------------
 | Tailwind Layer
 |--------------------------------------------------------------------------
 |
 | Import layer components.
 |
 */

@layer components {

    .btn{
        @apply py-2 px-4 font-semibold rounded-lg shadow-md;
    }

    .btn-primary {
        @apply py-2 px-4 pl-4 bg-primary text-white font-semibold rounded-lg shadow-md hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-75;
    }

    .btn-secondary {
        @apply py-2 px-4 pl-4 bg-secondary text-white font-semibold rounded-lg shadow-md hover:bg-secondary-dark focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-opacity-75;
    }

    .btn-danger {
        @apply py-2 px-4 pl-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75;
    }

    .form-control{
        @apply w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:outline;
    }

    .text-danger{
        @apply text-red-600;
    }

    .border-danger{
        @apply  border border-red-500 rounded-lg;
    }
    

    .card{
        @apply border rounded-md shadow-sm p-5;
    }

    h1{
        @apply text-3xl text-primary mt-5 font-semibold;
    }

    h2{
        @apply text-2xl text-primary mt-5 font-semibold;
    }

    h3{
        @apply text-xl text-primary mt-5;
    }

    p{
        @apply text-justify mt-5;
    }
    

}

/* Banner - Home*/
.banner-image {
    width: 100%;
    height: auto;
    animation: slideIn 3s ease-in-out infinite alternate;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(10%);
    }
  }

